#container {
	margin: 0 auto;
	width: 900px;
	padding: 10px;
	display: block;
	overflow: hidden;
}

#sidebar {
	min-height: 100px;
	margin-top: 20px;
	margin-bottom: 5px;
	padding: 2px;
	width: 21%;
	background: lightsteelblue;
	display: block;
	float: left;
	border: 1px solid black;
	overflow: hidden;
}

#sidebar .title {
	text-align: center;
	border: 1px solid black;
	margin-bottom: 2px;
	padding: 2px;
}

#sidebar ul {
	margin-left: 5px;
}

#sidebar ul+li {
	margin-left: 2px;
}

#sidebar ul+ul {
	margin-left: 5px
}

#content {
	display: block;
	margin-left: 25%;
}


body {
	display: block;
}

p {
	text-indent: 10px;
}

footer {
	margin-top: 5px;
	display: block;
}
