#container {
	margin: 0 auto;
	width: 900px;
	padding: 10px;
	display: block;
	overflow: hidden;
}

#sidebar {
	min-height: 100px;
	margin-top: 20px;
	margin-bottom: 5px;
	padding: 2px;
	width: 21%;
	background: lightsteelblue;
	display: block;
	float: left;
	border: 1px solid black;
	overflow: hidden;
}

#sidebar .title {
	text-align: center;
	border: 1px solid black;
	margin-bottom: 2px;
	padding: 2px;
}

#sidebar a{
  text-decoration:none;
  color: black;
}

#sidebar ul {
  margin-left: 2px;
  list-style-type: none;
}

#sidebar li {
  margin-left: 4px;
  list-style-position: outside;
}

#content {
	display: block;
	margin-left: 25%;
}


body {
	display: block;
}

p {
	text-indent: 10px;
}

footer {
	margin-top: 5px;
	display: block;
}

.crumbs {
	margin-top: 20px;
	border: 1px solid black;
	background: lightsteelblue;
	height: .7em;
	display: block;
	padding: 0px;
	overflow: auto;
}

.crumbs a{
	display: inline-block;
	margin-left: 5px;
	text-decoration: none;
	color: black;
	font-size: 12px;
}
