#container {
	margin: 0 auto;
	width: 900px;
	padding: 10px;
	display: block;
	overflow: hidden;
}

#sidebar {
	min-height: 100px;
	margin-top: 20px;
	margin-bottom: 5px;
	padding: 2px;
	width: 21%;
	background: #eee;
	display: block;
	float: left;
	border: 1px solid black;
	overflow: hidden;
}

#sidebar .title {
	text-align: center;
	border: 1px solid black;
	margin-bottom: 2px;
	padding: 2px;
	font-weight: bold;
	background: lightsteelblue;
}

#sidebar .category {
	text-align: left;
	padding-left: 5px;
	display: block;
	font-weight: bold;
}
#sidebar .item {
	text-align: left;
	padding-left: 10px;
	display: block;
	font-weight: normal;
}

#sidebar a {
	color: black;
}

#sidebar a:hover {
	text-decoration: underline;
}


#content {
	display: block;
	margin-left: 25%;
}


body {
	display: block;
}

p {
	text-indent: 10px;
}

a {
	color: black;
	text-decoration: none;
}

header {
	display: block;
	padding: 20px;
	color: royalblue;
	background: #fff url(../img/canadianmason.jpg) center no-repeat;
	border-radius: 15px;
}

header a {
	color: royalblue;
	text-decoration: none;
}

footer {
	margin-top: 5px;
	display: block;
}

.crumbs {
	margin-top: 20px;
	border: 1px solid black;
	background: lightsteelblue;
	display: block;
	padding: 0px;
	overflow: auto;
}

.crumbs a{
	display: inline-block;
	margin-left: 5px;
	text-decoration: none;
	color: black;
	font-size: 12px;
}
